/*=======================================*
 *              Login Styles             *
 *=======================================*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

body, html {

	height: 100%;

}

/*------ Body ------*/
.login-container {
	height: 100%;
	text-align: center;
	overflow: auto;
	position: relative;
	background: url("#{resource['images/login/bg.png']}") repeat;
}


* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

.login {
	position: relative;
	width: 100%;
	display: table;
	margin: 0 auto 0 auto;
	background: #fff;
	border-radius: 4px;
}

.legend {
	position: relative;
	width: 100%;
	display: block;
	background: #d55102;
	padding: 15px;
	color: #fff;
	font-size: 20px;
}

.legend:after {
	content: "";
	background-size: 100px 100px;
	background: url(http://simpleicon.com/wp-content/uploads/multy-user.png) no-repeat 152px -16px;
	opacity: 0.06;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}

.input {
	position: relative;
	width: 90%;
	margin: 15px auto;
}

.input span {
	position: absolute;
	display: block;
	color: #d4d4d4;
	left: 10px;
	top: 8px;
	font-size: 20px;
}

#forgot-pass {

	text-align: right;

}

#forgot-pass > a {

	font-size: 0.896em;
	color: #d4d4d4;

	margin-right: 5px;

}

.input input {
	width: 100%;
	padding: 10px 5px 10px 40px;
	display: block;
	border: 1px solid #FF9800;
	border-radius: 4px;
	transition: 0.2s ease-out;
	color: #a1a1a1;
}

.input input:focus {
	padding: 10px 5px 10px 10px;
	outline: 0;
	border-color: #FF7052;
}

.submit {
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto -25px auto;
	background: #fff;
	border-radius: 100%;
	border: 1px solid #FF9800;
	color: #D55102;
	font-size: 24px;
	cursor: pointer;
	box-shadow: 0px 0px 0px 7px #fff;
	transition: 0.2s ease-out;
}

.submit:hover, .submit:focus {
	background:  #FF9800;
	color: #fff;
	outline: 0;
}

.feedback {
	position: absolute;
	bottom: -70px;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 10px 0;
	font-size: 12px;
	display: none;
	opacity: 0;
}

.feedback.success {
	background: #2ecc71;
}

.feedback.failure {
	background: #cc1d1c;
}

.feedback:before {
	bottom: 100%;
	left: 50%;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border: 10px solid rgba(46, 204, 113, 0);
	margin-left: -10px;
}

.feedback.success:before {
	border-bottom-color: #2ecc71;
}

.feedback.failure:before {
	border-bottom-color: #cc1d1c;
}

.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa, .ui-button-text-icon-right .ui-icon.fa {
	margin-top: -12px !important;
}